{% extends "base.html" %}

{% block bodycontent %}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <center><h4>{{post_title}}</h4></center>
        </div>
        
        <!--post body here-->
        <div class="panel-body">
            <p>{{post}}</p>
        </div>
    </div>

    <!--table of comments here-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Comments:</h4>
        </div>
    
        <table class="table table-striped">
            {% for x in comments %}
            <tr>
                <td><p>{{x}}<p></td>
            </tr>
            {%endfor%}
        </table>
    </div>
    
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Add a comment:</h4>
        </div>
        
        <div class="panel-body form-group">
            <form>
                <textarea class="form-control" name="comment" rows="15" placeholder="Write your commment here..."></textarea>
                <br>
                <center>
                    <button type="submit" name="button" class="btn btn-default btn-primary">Comment!</button>
                </center>
            </form>
        </div>
        
    </div>
    
    <center>
        <a href="http://127.0.0.1:5000/" class="btn btn-default btn-sm">Return to Home</a>
    </center>
    
<div>

{% endblock bodycontent %}